.btn {
    color: yellowgreen;
}

.card-body {
    color: orange;
}

.div {
    background-color: rebeccapurple;
    color: beige;
}

.h1 {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, fantasy;
}